@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
html,
body {
  margin: 0;
  font-family: Inter, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000000;
  color: #fff;
  overflow-x: hidden;
}
#root {
  min-height: 100vh;
  display: flex;
}
.landing1 {
 min-width: -webkit-fill-available;
 min-height: 100vh;
 align-content: center;
display: flex;
text-align: center;
background-image: url("https://hdclipartall.com/images/waves-clipart-wave-700x400.gif");
background-size: cover;
}

h1 {
  font-size: 5rem;
}
@media screen and (max-width: 768px) {
  h1 {
    font-size: 3rem;
  }
}

.landing h1{
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
}
.unsupported-network {
  width: 340px;
  max-width: 100%;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin: auto;
  padding: 1rem;
}

.error {
  width: 340px;
  max-width: 100%;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin: auto;
  padding: 1rem;
  border-radius: 1rem;
  background-color: #f00;
}


.landing,
.connect-wallet,
.mint-nft,
.member-page {
  flex-direction: column;
  width: 960px;
  max-width: calc(100% - 1rem);
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin: auto;
  align-content: center;
  display: flex;
  text-align: center;
}

.mint-nft h1{
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
}
.member-page h1{
  font-family: 'Press Start 2P', cursive;
  font-size: 3.5rem;
  margin-bottom: 1rem;
  color: antiquewhite;
}
.member-page p{
  font-family: 'Press Start 2P', cursive;
  font-size: 0.8rem;
  margin-bottom: 5rem;
  color: aqua;
}
.member-page > div {
  display: flex;
  flex-direction: row;
  width: 100%;
  text-align: left;
  gap: 2rem;
}
.member-page > div > div {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 1rem;
}
@media screen and (max-width: 768px) {
  .member-page > div {
    flex-direction: column;
  }
  .member-page > div > div {
    width: 100%;
  }
}


.member-page form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.member-page form > div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.member-page form h5 {
  margin-top: 0;
  color: #000;
}

.member-page form .card > div {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}

.member-page form small {
  text-align: center;
}

.member-page h2 {
  color: rgb(56, 155, 130);
  font-family: 'Press Start 2P', cursive;
  font-size: 18px;
}
.card {
  background-color:rgb(218, 89, 30);
  padding: 1rem; 
  border-radius: 5px;
  color: #fff;
  box-shadow: 10px 10px 2px 1px rgb(196 37 188 / 77%);
}


button {
  cursor: pointer;
  background-color: #000;
  color: #fff;
  font-weight: bold;
  font-family: 'Press Start 2P', cursive;
  padding: 1.2rem 2rem;
  text-transform: uppercase;
  border-radius: 3rem;
  border-color: white;
  font-size: 0.9rem;
}

button:hover {
  background-color: white;
  color: black;
}

button:focus {
  background-color: #222;
}

button:disabled {
  opacity: 0.8;
  pointer-events: none;
}
